{% extends "blog/base.html" %} 

{% block title %}Posts{% endblock %} 

<!-->{% url 'post:post_detail' post.id %}<-->
{% block content %}
    <div class="container">
        <div class="row">
            {% for post in posts %}
                <div class="col-sm-4 text-center">
                    <a href="/blog/{{ post.id }}">{{ post.title }}</a>
                    <p>{{ post.body|truncatewords:25 }}</p>
                    <h6>Author: {{post.author}} at {{post.publish}}</h6>
                </div>

            {% endfor %}
        </div>
    </div>
    {% include "pagination.html" with page=posts %}
{% endblock  %}
