{% extends "blog/base.html" %} 
{% block title %}share {{post.title}}{% endblock %}

{% block content %}

{% if sent %}
    <h1>E-mail successfully sent</h1>
    <p> "{{ post.title }}" was successfully sent to {{ cd.to }}. </p>
{% else %}
    <h1>Share "{{ post.title }}" by e-mail</h1>
    <form action="." method="post">
        {{ form.as_p }}<!-- we render form fields as <p> html element -->
        {% csrf_token %}<!-- Cross-site_request_forgery attack  -->
        <input type="submit" value="Send e-mail">
    </form>
{% endif %}



{% endblock %}